<%- include("partials/header.ejs") %>

<h1>Most Favorite Songs</h1>
<div class="album ms-0">
  <div class="container-fluid p-0">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 g-3">
      <% MostFavSong.forEach((fav)=>{ %>
        <span data-img="<%= fav.image %>" data-song="<%= fav.name %>" data-artist="<%= fav.artist.name%>" data-audio="<%= fav.audio %>" id="songdata" class="d-none"></span>
      <div class="col">
        <div class="card shadow-sm p-3" id="songcard" onmouseover="cardbthover()">
          <% if(currentUser){ %>
            <button type="button" class="border-0 p-0 bg-transparent card__playbt">
              <i class="fa-solid fa-circle-play" id="btnplay"></i>
            </button>
          <% } else{ %>
            <button type="button" class="border-0 p-0 bg-transparent card__playbt" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-circle-play"></i>
            </button>
            <%- include("partials/login_modal.ejs") %>
          <% } %>
          
          <a href="/song/<%= fav._id %>" class="text-decoration-none">
            <img class="song--img" src="<%= fav.image %>">
            <p class="song--name text-white m-0"><%= fav.name %></p>
            <a href="/artist/<%= fav.artist._id %>" class="song--artist text-white-50"><%= fav.artist.name %></a>
          </a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<h1 class="mt-2">New Songs</h1>
<div class="album ms-0">
  <div class="container-fluid p-0">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 g-3">
      <% NewSong.forEach((newsong)=>{ %>
        <span data-img="<%= newsong.image %>" data-song="<%= newsong.name %>" data-artist="<%= newsong.artist.name%>" data-audio="<%= newsong.audio %>" id="songdata" class="d-none"></span>
      <div class="col">
        <div class="card shadow-sm p-3" id="songcard" onmouseover="cardbthover()">
          <% if(currentUser){ %>
            <button type="button" class="border-0 p-0 bg-transparent card__playbt">
              <i class="fa-solid fa-circle-play" id="btnplay"></i>
            </button>
          <% } else{ %>
            <button type="button" class="border-0 p-0 bg-transparent card__playbt" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-circle-play"></i>
            </button>
            <%- include("partials/login_modal.ejs") %>
          <% } %>
          <a href="/song/<%= newsong._id %>" class="text-decoration-none">
            <img class="song--img" src="<%= newsong.image %>">
            <p class="song--name text-white m-0"><%= newsong.name %></p>
            <a href="/artist/<%= newsong.artist._id %>" class="song--artist text-white-50"><%= newsong.artist.name %></a>
          </a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <h1 class="d-inline">Albums For You</h1>
  <h3><a href="/album/all" id="seeall">See All</a></h3>
</div>

<div class="album ms-0">
  <div class="container-fluid p-0">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 g-3">
      <% album.forEach((album)=>{ %>
        <div class="col">
          <div class="card shadow-sm p-3">
            <a href="/album/<%= album._id %>" class="text-decoration-none">
              <img class="album--img" src="<%= album.image %>">
              <p class="album--name text-white m-0"><%= album.name %></p>
              <a href="/artist/<%= album.artist._id %>" class="album--artist text-white-50"><%= album.artist.name %></a>
            </a>
          </div>
        </div>
        <% }); %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <h1 class="d-inline">Albums For You</h1>
  <h3><a href="/artist/all" id="seeall">See All</a></h3>
</div>

<div class="album ms-0">
  <div class="container-fluid p-0">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 g-3">
      <% artist.forEach((artist)=>{ %>
      <div class="col">
        <div class="card shadow-sm p-3">
          <a href="/artist/<%= artist._id %>" class="text-decoration-none">
            <img class="rounded-circle artist--img" src="<%= artist.image %>">
            <p class="artist--name text-white m-0"><%= artist.name %></p>
          </a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>