<%- include("../partials/header.ejs") %>
<div class="container-fluid pt-0 ps-0">
  <div class="p-1 p-md-3 mb-2 text-white rounded artistinfo">
    <div class="col-md-12 px-0 d-flex">
      <img class="shadow-lg me-2 playlistinfo--img" src="<%= playlist.image %>">
      <div class="d-block my-auto ms-1">
        <h1 class="display-2 fw-bold">
          <%= playlist.name %>
          <button type="button" class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#editplaylistModal">
            <i class="fa-solid fa-pen editplaylistbt"></i>
          </button>
        </h1>
        <h1 class="display-6">Playlist</h1>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteplaylistModal">
          Delete
        </button>
        
        <div class="modal fade" id="editplaylistModal" tabindex="-1" aria-labelledby="editplaylistModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <h4 class="modal-title text-white" id="editplaylistModalLabel">Edit <%= playlist.name %> Playlist</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/playlist/<%= playlist._id %>?_method=PUT" method="post" enctype="multipart/form-data">
      
                  <div class="mb-3">
                    <label for="" class="form-label text-white">Name</label>
                    <input class="form-control" name="playlist[name]" type="text" placeholder="<%= playlist.name %>" value="<%= playlist.name %>" required>
                  </div>
      
                  <div class="mb-3">
                    <label for="" class="form-label text-white">Playlist Image(optional)</label>
                    <img src="<%= playlist.image %>" class="playlistedit--img" width="100px">
                    <input class="form-control" name="image" type="file" accept="image/*">
                  </div>
      
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-info">Save</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deleteplaylistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure To Delete The Playlist <%= playlist.name %>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <form action="/playlist/<%= playlist._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-danger">Yes</button>
                  <button type="button" class="btn btn-info" data-bs-dismiss="modal">Nah Bro</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<%if(songs.length>0){ %>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-white" id="number" scope="col">#</th>
          <th class="text-white" scope="col">Title</th>
          <th class="text-white" scope="col">Artist</th>
          <th class="text-white" scope="col">Album</th>
          <th class="text-white" scope="col"></th>
        </tr>
      </thead>
      <% let i = 1;  %>
      <tbody>
        <% songs.forEach((song)=>{ %>
          <span data-img="<%= song.image %>" data-song="<%= song.name %>" data-artist="<%= song.artist.name%>" data-audio="<%= song.audio %>" id="songdata" class="d-none"></span>
        <tr class="playlist-song-row" onpointerover="playlistsongrowhover()">
          <td class="text-white">
            <p class="my-auto" id="number"><%=i++%></p>
          </td>
          <td class="text-white"><a class="text-white text-decoration-none" href="/song/<%= song._id %>"
              id="song"><%= song.name %></a></td>
          <td class="text-white"><a class="text-white text-decoration-none"
              href="/artist/<%= song.artist._id %>"><%= song.artist.name %></a></td>
          <% if(song.album){ %>
          <td class="text-white"><a class="text-white text-decoration-none" href="/album/<%= song.album._id %>"
              id="album"><%= song.album.name %></a></td>
          <% } else { %>
          <td></td>
          <% } %>
          <td class="text-center" id="tablebt">
            <button type="button" class="my-auto bg-transparent border-0"><i
                class="fa-solid fa-play playbt--inrow" id="btnplay"></i></button>
                <%if(Userfavsong.includes(song._id)){ %>
                  <form action="/user/removefavsong/<%= song._id %>?_method=PUT" method="post" class="d-inline mx-2 my-auto">
                    <button class="btn--unfav bg-transparent border-0" type="submit">
                      <i class="fa-solid fa-heart favbt--inrow"></i>
                    </button>
                  </form>
                <%} else { %>
                <form action="/user/addfavsong/<%= song._id %>?_method=PUT" method="post" class="d-inline mx-2 my-auto">
                  <button class="btn--fav bg-transparent border-0" href="/user/addfavsong/<%= song._id %>" type="submit">
                    <i class="fa-solid fa-heart favbt--inrow"></i>
                  </button>
                </form>
                <%}%>
            <form action="/playlist/<%= playlist._id %>/song/<%= song._id %>?_method=PUT" method="post" class="d-inline my-auto">
              <button class="btn--rmfromplaylist bg-transparent border-0" type="submit">
                <i class="fa fa-minus rmfromplaylist--inrow"></i>
              </button>
            </form>

          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<%} else { %>
  <h1 class="text-center bg-black display-3 fw-bold">Not Have Any Song In This Playlist</h1>
<%} %>

</div>

<%- include("../partials/footer.ejs") %>