<%- include("../partials/header.ejs") %>
<div class="filter mb-3">
    <a href="/search/<%= word %>/all" class="search--navigation"><h3 class="d-inline">All</h3></a>
    <a href="/search/<%= word %>/song" class="search--navigation"><h3 class="d-inline">Songs</h3></a>
    <a href="/search/<%= word %>/artist" class="search--navigation"><h3 class="d-inline">Artists</h3></a>
    <h3 class="d-inline text-decoration-underline  search--navigation-current">Albums</h3>
</div>
<%- include("../partials/footer.ejs") %>