<%- include("../partials/header.ejs") %>
<div class="filter mb-3">
    <h3 class="d-inline text-decoration-underline search--navigation-current">All</h3>
    <a href="/search/<%= word %>/song" class="search--navigation"><h3 class="d-inline">Songs</h3></a>
    <a href="/search/<%= word %>/artist" class="search--navigation"><h3 class="d-inline">Artists</h3></a>
    <a href="/search/<%= word %>/album" class="search--navigation"><h3 class="d-inline">Albums</h3></a>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 searchpage--bg">
    <div class="col">
        <div class="mb-4 rounded-3 shadow-sm">
            <div class="py-3 d-flex justify-content-between">
                <h2 class="my-0 d-inline fw-bold">Songs</h2>
                <a href="/search/<%= word %>/song" class="d-inline mt-auto me-1" id="seeall">See All</a>
            </div>
            <div class="card-body songside">
                <ul class="list-unstyled my-auto">
                    <% if(song.length > 0){ %>
                        <% song.forEach((song)=>{ %>
                        <li>
                            <div class="d-flex py-2 ps-2 songside__row">
                                <img src="<%= song.image %>" width="60px" height="60px" class="songside--img">
                                <div class="mb-0 py-2 ps-2 small lh-sm w-100">
                                    <div class="d-flex justify-content-between">
                                        <a href="/song/<%= song._id %>" class="text-white text-decoration-none mb-1"><strong
                                                class="songside--name"><%= song.name %></strong></a>
                                    </div>
                                    <a class="d-inline text-white text-decoration-none"
                                        href="/artist/<%= song.artist._id %>"><span
                                            class="songside--artistname"><%= song.artist.name %></span></a>
                                </div>
                                <a href="#" class="my-auto me-2">Play</a>
                            </div>
                        </li>
                        <% }) %>
                    <% } else{ %>
                        <li class="text-center"><h2>Not Found</h2></li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-4 rounded-3 shadow-sm">
            <div class="py-3 d-flex justify-content-between">
                <h2 class="my-0 fw-bold d-inline">Artists</h2>
                <a href="/search/<%= word %>/artist" class="d-inline mt-auto me-1" id="seeall">See All</a>
            </div>
            <div class="card-body artistside">
                <ul class="list-unstyled my-auto">
                    <% if(artist.length > 0){ %>
                        <% artist.forEach((artist)=>{ %>
                        <li>
                            <div class="d-flex py-2 ps-2 artistside__row">
                                <img src="<%= artist.image %>" width="60px" height="60px"
                                    class="artistside--img rounded-circle">
                                <div class="mb-0 py-4 ps-2 small lh-sm w-100">
                                    <a href="/artist/<%= artist._id %>" class="text-white text-decoration-none mb-1"><strong
                                            class="artistside--name"><%= artist.name %></strong></a>
                                </div>
                                <a href="#" class="my-auto me-2">Play</a>
                            </div>
                        </li>
                        <% }) %>
                    <% } else{ %>
                        <li class="text-center"><h2>Not Found</h2></li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-4 rounded-3 shadow-sm">
            <div class="py-3 d-flex justify-content-between">
                <h2 class="my-0 fw-bold d-inline">Albums</h2>
                <a href="/search/<%= word %>/album" class="d-inline mt-auto me-1" id="seeall">See All</a>
            </div>
            <div class="card-body albumside">
                <ul class="list-unstyled my-auto">
                    <% if(album.length > 0){ %>
                        <% album.forEach((album)=>{ %>
                        <li>
                            <div class="d-flex py-2 ps-2 albumside__row">
                                <img src="<%= album.image %>" width="60px" height="60px" class="albumside--img">
                                <div class="mb-0 py-2 ps-2 small lh-sm w-100">
                                    <div class="d-flex justify-content-between">
                                        <a href="/album/<%= album._id %>"
                                            class="text-white text-decoration-none mb-1"><strong
                                                class="albumside--name"><%= album.name %></strong></a>
                                    </div>
                                    <a class="d-inline text-white text-decoration-none"
                                        href="/artist/<%= album.artist._id %>"><span
                                            class="albumside--artistname"><%= album.artist.name %></span></a>
                                </div>
                                <a href="#" class="my-auto me-2">Play</a>
                            </div>
                        </li>
                        <% }) %>
                    <% } else{ %>
                        <li class="text-center"><h2>Not Found</h2></li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>