<% searchword = word; %>
<%- include("../partials/header.ejs") %>
<div class="filter mb-3">
    <a href="/search/<%= word %>/all" class="search--navigation"><h3 class="d-inline">All</h3></a>
    <a href="/search/<%= word %>/song" class="search--navigation"><h3 class="d-inline">Songs</h3></a>
    <h3 class="d-inline text-decoration-underline search--navigation-current">Artists</h3>
    <a href="/search/<%= word %>/album" class="search--navigation"><h3 class="d-inline">Albums</h3></a>
</div>

<% if(artist.length > 0) { %>
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 justify-content-center searchpage--bg">
        <% artist.forEach((artist)=>{ %>
        <div class="col">
            <div class="card text-center my-3 searchpage__artistcard">
              <div class="card-body">
                  <a href="/artist/<%= artist._id %>" class="text-decoration-none">
                      <img src="<%= artist.image %>" class="card-img-top rounded-circle artist--img">
                      <h5 class="card-title artist--name text-white"><%= artist.name %></h5>
                  </a>
              </div>
            </div>
        </div>
    <% }) %> 
  </div>
  <% } else{ %> 
    <h1 class="text-center bg-black py-5 display-1">Not Found</h1>
<%}%> 
    
<%- include("../partials/footer.ejs") %>