<%- include("../partials/header.ejs") %>
<div class="filter mb-3">
    <a href="/search/<%= word %>/all" class="search--navigation"><h3 class="d-inline">All</h3></a>
    <h3 class="d-inline text-decoration-underline search--navigation-current">Songs</h3>
    <a href="/search/<%= word %>/artist" class="search--navigation"><h3 class="d-inline">Artists</h3></a>
    <a href="/search/<%= word %>/album" class="search--navigation"><h3 class="d-inline">Albums</h3></a>
</div>
<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-white" id="number" scope="col">#</th>
            <th class="text-white" scope="col">Title</th>
            <th class="text-white" scope="col">Artist</th>
            <th class="text-white" scope="col">Album</th>
            <th class="text-white" scope="col">Genre</th>
          </tr>
        </thead>
        <% let i = 1;  %>
        <tbody>
          <% song.forEach((song)=>{ %>
            <tr class = "search-song__row">
              <td class="text-white" ><p class="my-3" id="number"><%=i++%></p></td>
              <td class="text-white" >
                  <img src="<%= song.image %>" width="60rem" height="60rem">
                  <a class="text-white text-decoration-none" href="/song/<%= song._id %>" id="song"><%= song.name %></a>
              </td>
              <td class="text-white" ><a class="text-white text-decoration-none" href="/song/<%= song.artist._id %>" id="song"><p class="my-3"><%= song.artist.name %></p></a></td>
              <% if(song.album){ %>
                <td class="text-white"><a class="text-white text-decoration-none" href="/album/<%= song.album._id %>" id="album"><p class="my-3"><%= song.album.name %></p></a></td>
                <% } else { %>
                <td></td>
                <% } %>
              <td class="text-white"><a class="text-white text-decoration-none" href="#"><p class="my-3"><%= song.genre %></p></a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
<%- include("../partials/footer.ejs") %>