<%- include("../partials/header.ejs") %>
<div class="container-fluid pt-0 ps-0">
  <div class="p-1 p-md-3 mb-2 text-white rounded artistinfo">
    <div class="col-md-6 px-0 d-flex">
      <img class="rounded-circle me-2 artistinfo--img" src="<%= artist.image %>" width="140px" height="140px">
      <div class="d-block my-auto ms-1">
        <h3><%= artist.name %></h3>
        <p class="lead">Artist</p>
      </div>
    </div>
  </div>


  <div class="row g-5">
    <div class="col-md-8">

      <h2>Artist Songs</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm sortable">
          <thead>
            <tr>
              <th class="text-white" id="number" scope="col">#</th>
              <th class="text-white" scope="col">Title</th>
              <th class="text-white" scope="col">Album</th>
              <th class="text-white" scope="col">Genre</th>
              <th class="text-white" scope="col"></th>
            </tr>
          </thead>
          <% let i = 1;  %>
          <tbody>
            <% song.forEach((song)=>{ %>
            <tr class="artist-song-row" onpointerover="artistsongrowhover()">
              <td class="text-white">
                <p class="my-3" id="number"><%=i%></p>
              </td>
              <td class="text-white">
                <img src="<%= song.image %>" class="songinfo--img" width="60" height="60">
                <a class="text-white text-decoration-none ps-1" href="/song/<%= song._id %>"id="song">
                  <%= song.name %>
                </a>
                <span data-img="<%= song.image %>" data-song="<%= song.name %>" data-artist="<%= song.artist.name%>" data-audio="<%= song.audio %>" id="songdata" class="d-none"></span>
              </td>
              <% if(song.album){ %>
              <td class="text-white"><a class="text-white text-decoration-none" href="/album/<%= song.album._id %>"
                  id="album"><p class="my-3"><%= song.album.name %></p></a></td>
              <% } else { %>
              <td></td>
              <% } %>
              <td class="text-white" id="tablegenre"><a class="text-white text-decoration-none"
                  href="/genre/<%= song.genre %>"><p class="my-3"><%= song.genre %></p></a></td>
              <td id="tablebt">
                <% if(currentUser){ %>
                <button type="button" class="my-3 bg-transparent border-0">
                  <i class="fa-solid fa-play playbt--inrow" id="btnplay"></i>
                </button>
                  <%if(Userfavsong.includes(song._id)){ %>
                  <form action="/user/removefavsong/<%= song._id %>?_method=PUT" method="post" class="d-inline me-1 my-auto">
                    <button class="btn--unfav bg-transparent border-0">
                      <i class="fa-solid fa-heart favbt--inrow"></i>
                    </button>
                  </form>
                <%} else { %>
                <form action="/user/addfavsong/<%= song._id %>?_method=PUT" method="post" class="d-inline my-auto">
                  <button class="btn--fav bg-transparent border-0" href="/user/addfavsong/<%= song._id %>">
                    <i class="fa-solid fa-heart favbt--inrow"></i>
                  </button>
                </form>
                <%}%>


                <div class="btn-group dropend">
                  <button type="button" class="p-0 btn--addplaylist ps-1 mb-1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-plus addplaylist--inrow"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark bg-black">
                    <% if(playlists){ %>
                    <% playlists.forEach((playlist)=>{ %>
                    <li>
                      <form action="/playlist/<%= playlist._id %>/song/<%= song._id %>" method="post">
                        <button class="dropdown-item" type="submit"><%= playlist.name %></button>
                      </form>
                    </li>
                    <% }); %>
                    <% } %>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal"
                      data-bs-target="#addplaylistModal<%=i%>">
                      Add to New Playlist
                    </button></li>
                  </ul>
                </div>
                <div class="modal fade" id="addplaylistModal<%=i%>" tabindex="-1" aria-labelledby="addplaylistModalLabel<%=i%>"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark">
                      <div class="modal-header">
                        <h4 class="modal-title text-white" id="addplaylistModalLabel<%=i++%>">Add New Playlist</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="/playlist/<%= song._id %> " method="post" enctype="multipart/form-data">
              
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Name</label>
                            <input class="form-control" name="playlist[name]" type="text" placeholder="Playlist Name" required>
                          </div>
              
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Playlist Image(optional)</label>
                            <input class="form-control" name="image" type="file" accept="image/*">
                          </div>
              
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-info">Save</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <% } else { i++ %>
                <button type="button" class="my-auto bg-transparent border-0" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <i class="fa-solid fa-play playbt--inrow"></i>
                </button>
                <button type="button" class="btn--fav bg-transparent border-0 my-3" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <i class="fa-solid fa-heart favbt--inrow"></i>
                </button>
                <button type="button" class="p-0 btn--addplaylist ps-1" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <i class="fa-solid fa-plus addplaylist--inrow"></i>
                </button>
                <%- include("../partials/login_modal.ejs") %>
                <% } %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 4rem;">
        <% if(album.length > 0){ %>
        <div class="p-0 mb-3 mt-1 otherartist rounded">
          <h2>Album</h2>
          <% album.forEach((album)=>{ %>
          <a class="d-block p-2 ps-2 mb-1 otherartist__block" href="/album/<%= album._id %>">
            <img class="albuminfo--img" src="<%= album.image %>" width="60px" height="60px">
            <p class="d-inline-block otherartist--name"><%= album.name %></p>
          </a>
          <% }); %>
        </div>
        <% } %>

        <div class="p-0 mt-1 otherartist rounded">
          <h2>Other Artist</h2>
          <% otherArt.forEach((otherArt)=>{ %>
          <a class="d-block p-2 ps-2 mb-1 otherartist__block" href="/artist/<%= otherArt._id %>">
            <img class="artistinfo--img rounded-circle" src="<%= otherArt.image %>" width="60px" height="60px">
            <p class="d-inline-block otherartist--name"><%= otherArt.name %></p>
          </a>
          <% }); %>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("../partials/footer.ejs") %>