<%- include("../partials/header.ejs") %>
<div class="p-4 p-md-5 mb-4 text-white text-center genreinfo--title">
    <div class="px-0">
      <h1 class="display-3 fw-normal"><%= title %> Songs For You</h1>
    </div>
</div>
<div class="album ms-0">
    <div class="container-fluid">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-3">
        <% songs.forEach((song)=>{ %>
          <span data-img="<%= song.image %>" data-song="<%= song.name %>" data-artist="<%= song.artist.name%>" data-audio="<%= song.audio %>" id="songdata" class="d-none"></span>
        <div class="col">
          <div class="card shadow-sm p-3" id="songcard" onmouseover="cardbthover()">
            <% if(currentUser){ %>
              <button type="button" class="border-0 p-0 bg-transparent card__playbt">
                <i class="fa-solid fa-circle-play" id="btnplay"></i>
              </button>
            <% } else{ %>
              <button type="button" class="border-0 p-0 bg-transparent card__playbt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-circle-play"></i>
              </button>
              <%- include("../partials/login_modal.ejs") %>
            <% } %>
            <a href="/song/<%= song._id %>" class="text-decoration-none">
              <img class="song--img" src="<%= song.image %>">
              <p class="song--name text-white m-0"><%= song.name %></p>
              <a href="/artist/<%= song.artist._id %>" class="song--artist text-white-50"><%= song.artist.name %></a>
            </a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
<%- include("../partials/footer.ejs") %>